.news2018__wrapper {
    width: 100%;
    display: flex;
    background-color: #000;
}

.n-card__left {
    width: 45%;
}

.n-card__img {
    width: 100%;
}

@media (max-width: 1100px) {
    .n-card__left {
        display: none;
    }

    .n-card__right {
        width: 100% !important;
        padding: 0 50px;
    }

    .n-card__subtitle {
        font-size: 14px;
    }
}

.n-card__right {
    width: 55%;
}

.n-card__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 60px;
}

@media (max-width: 1164px) {
    .n-card__title {
        font-size: 30px;
        padding-top: 40px;
    }
}

.n-card__bigline {
    padding: 40px;
}

@media (max-width: 620px) {
    .n-card__bigline {
        padding: 0;
    }
}

.n-card__line {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.n-card__subtitle {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 0 135px;
    padding-bottom: 70px;
}

@media (max-width: 1264px) {
    .n-card__subtitle {
        padding: 20px 35px;
    }
}

.n-card__btn {
    display: table;
    margin: 0 auto;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    padding: 16px 35px;
    transition: 500ms;
    border: 2px solid #fff;
}

.n-card__btn:hover {
    color: #000;
    background: #fff;
    border: 2px solid #fff;
}